<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <a class="fh5co-logo" href="/">ECNU USER ANALYSIS</a>
            <nav id="fh5co-main-nav" role="navigation">
                <ul>
                    <li><a href="/new_ui" class="active">Home</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>

                </ul>
            </nav>
        </div>

        <nav id="fh5co-main-nav" role="navigation">
            <ul>
                <li><a href="work.html">Activity</a></li>
                <li><a href="services.html">Social</a></li>
                <li><a href="about.html">Dorm</a></li>
                <li><a href="contact.html">Homework</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="padding-bottom-5" id="summary">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Summary</h1>
                <h2>Your overall score is {{data.overallScore}}</h2>
                <p>{{ data.summary}}</p>
            </div>
            <!-- /.section title start-->
        </div>

    </div>

</div>

<div class="padding-bottom-5" id="activity">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Activity</h1>
                <canvas id="activity-chart" width="750" height="400"></canvas>
                <div>
                </div>
            </div>
            <div id="activity-html"></div>
            <!-- /.section title start-->
        </div>
    </div>
</div>
<div class="padding-bottom-5" id="social">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Social</h1>
                <canvas id="social-chart" width="750" height="400"></canvas>
                <div>
                </div>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
</div>

<div class="padding-bottom-5" id="dorm">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Dorm</h1>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
</div>


<div class="padding-bottom-5" id="homework">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Homework</h1>
            </div>
            <div id="homework-html"></div>
            <!-- /.section title start-->
        </div>
    </div>
</div>

