

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>

  <div>
      <p>yo these are my friends</p>
  {{#each friends}}
      <p>{{ friendId}}</p>
    <p>{{ User.userName}}</p>
    {{/each}}
  </div>
