<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="main">
        <div class="row">
            <div class="col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label id="form-title" class="col-sm-offset-3 col-sm-9">E-Learning</label>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">学工号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="userId" name="userId" placeholder="请输入学工号">
                            <span class="msg text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                            <span class="msg text-danger"></span>
                        </div>
                    </div>

                </form>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button class="btn btn-primary" id="login-btn">登&nbsp;&nbsp;录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
