<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <a class="fh5co-logo" href="/">Education User Analysis</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label id="form-title" class="col-sm-offset-3 col-sm-9">E-Learning</label>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label">学工号</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="请输入学工号">
                        <span class="msg text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">密码</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                        <span class="msg text-danger"></span>
                    </div>
                </div>

            </form>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-primary" id="login-btn">登&nbsp;&nbsp;录</button>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="col-xs-9">
                <div class=" text-center section-title">
                    <!-- section title start-->
                    <div class="heading-section text-center">
                        <h2>学生活跃榜</h2>
                        <table class="login-statistic"
                               data-toggle="table"
                               data-url="statistics/rank/single"
                               data-striped="true"
                               data-pagination="true"
                               data-page-size="5"
                        >
                            <caption class="text-center">单门课程经验值榜</caption>
                            <thead style="display: none">
                            <tr>
                                <th data-field="faceIcon" data-formatter="actionFormatter"></th>
                                <th data-field="nickName"></th>
                                <th data-field="courseName"></th>
                                <th data-field="activity" data-sortable="true"></th>
                            </tr>
                            </thead>
                        </table>
                        <table class="login-statistic"
                               data-toggle="table"
                               data-url="statistics/rank/overall"
                               data-striped="true"
                               data-pagination="true"
                               data-page-size="5"
                        >
                            <caption class="text-center">综合经验值榜</caption>
                            <thead>
                            <tr>
                                <th data-field="faceIcon" data-formatter="actionFormatter"></th>
                                <th data-field="nickName"></th>
                                <th data-field="experience" data-sortable="true"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.section title start-->
            </div>
            <div class="col-xs-3">
                <div class=" text-center section-title">
                    <!-- section title start-->
                    <div class="heading-section">
                        <h2>统计信息</h2>
                        <table class="login-statistic"
                               data-toggle="table"
                               data-url="statistics/summary"
                               data-striped="true"
                               data-pagination="true"
                               data-page-size="5"
                        >
                            <caption class="text-center">综合经验值榜</caption>
                            <thead>
                            <tr>
                                <th data-field="name"></th>
                                <th data-field="count"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                <!-- /.section title start-->
            </div>
        </div>
    </div>
</div>
<script>
    window.actionFormatter = function(value, row, index) {
        return [
            '<img src="'+value+'" style="max-width: 50px">',
            '</img>'
        ].join('');
    }
</script>
