<div class="bg-white section-space80">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Settings</h1>
              <div>
                  <p>Period of Time</p>
                  <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" id="last-semester">Last Semester</button>
                      <button type="button" class="btn btn-default" id="this-semester">This Semester</button>
                      <button type="button" class="btn btn-default" id="academic-year">Academic Year</button>
                      <button type="button" class="btn btn-default" id="college-career">College Career</button>
                  </div>
                <div>
                    <div class="blank-space"></div>
                    From <input size="18" type="text"  readonly disabled id="from">
                    To <input size="18" type="text" readonly disabled id="to">
                </div>
              </div>
                <div>
                    <div class="blank-space"></div>
                    <button class="btn btn-primary" id="ok">OK</button>
                </div>
            </div>
        </div>

    </div>

</div>
