<div class="bg-white section-space80">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <h1>Settings</h1>
              <div>
                  <p>Period of Time</p>
                  <div class="btn-group col-sm-12" role="group" aria-label="...">
                      <button type="button" class="btn btn-default col-sm-6" id="last-semester">Last Semester</button>
                      <button type="button" class="btn btn-default col-sm-6" id="this-semester">This Semester</button>
                      <button type="button" class="btn btn-default col-sm-6" id="academic-year">Academic Year</button>
                      <button type="button" class="btn btn-default col-sm-6" id="college-career">College Career</button>
                  </div>

                  <p>Current Terms</p>
                  <div class="btn-group col-sm-12 current-terms" role="group" aria-label="...">
                      {{#each terms}}
                          <button type="button" class="btn btn-default col-sm-6 setting-terms" id="{{termId}}">{{termName}}</button>
                        {{/each}}
                  </div>
              </div>
                <div>
                    <div class="blank-space"></div>
                    <button class="btn btn-primary" id="ok">OK</button>
                    <button class="btn btn-primary" id="cancel">Cancel</button>

                </div>
            </div>
        </div>

    </div>

</div>
