<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <!--<div class="col-xs-8">-->
                <!--<a class="fh5co-logo" href="/">Education User Analysis</a>-->
            <!--</div>-->
          <!--<div class="col-xs-4">-->
              <!--<nav id="fh5co-main-nav" role="navigation">-->
                  <!--<ul>-->
                      <!--<li><a href="/" class="active">Login</a></li>-->
                      <!--&lt;!&ndash;<li><a href="/settings">Settings</a></li>&ndash;&gt;-->

                  <!--</ul>-->
              <!--</nav>-->
            <a class="fh5co-logo" href="/">Education User Analysis</a>
            <nav id="fh5co-main-nav" role="navigation">
                <ul>
                    <li><a href="/login" class="active">Login</a></li>
                    <!--<li><a href="/settings">Settings</a></li>-->

                </ul>
            </nav>
          </div>



        </div>
    </div>
</header>

<div class="padding-bottom-5" id="summary">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                <div class="heading-section text-center">
                    <h2>Who we are</h2>
                </div>
                <h1>Summary</h1>
                <h2>Your overall score is {{data.overallScore}}</h2>
                <p>{{ data.summary}}</p>
            </div>
            <!-- /.section title start-->
        </div>

    </div>

</div>

<div class="padding-bottom-5">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class=" text-center section-title">
                <!-- section title start-->
                </div>
            </div>
            <div id="activity-html"></div>
            <!-- /.section title start-->
        </div>
    </div>
</div>

